<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform
      processPath="C:\Program Files\Java\microsoft-jdk-17.0.16.8\bin\java.exe"
      arguments="-jar D:\home\site\wwwroot\app.jar"
      startupTimeLimit="120"
      stdoutLogEnabled="true"
      stdoutLogFile="D:\home\LogFiles\httpPlatformStdout.log" />
  </system.webServer>
</configuration>